In [4]:
import cv2
import numpy as np
import pickle
from keras.models import Sequential
from keras.layers import LSTM, Dense
from keras.callbacks import ModelCheckpoint
import csv
import pandas as pd
import time
import pyautogui
from datetime import datetime
import win32api
import win32con
import pygame

pygame 2.1.2 (SDL 2.0.18, Python 3.8.8)
Hello from the pygame community. https://www.pygame.org/contribute.html

### Old version

In [10]:
'''dataset=[]
time_data=[]
right_click_data=[]
left_click_data=[]
start = time.time()
state_left = win32api.GetKeyState(0x01)  # Left button down = 0 or 1. Button up = -127 or -128
state_right = win32api.GetKeyState(0x02)  # Right button down = 0 or 1. Button up = -127 or -128
state = win32api.GetKeyState(0x020A)
while (1):
    a = win32api.GetKeyState(0x01)
    b = win32api.GetKeyState(0x02)
    state_left = a
    if a < 0:
        left_click_data.append('True')
    else:
        left_click_data.append('False')
    state_right = b
    if b < 0:
        right_click_data.append('True')
    else:
        right_click_data.append('False')
    currentMouseX, currentMouseY = pyautogui.position()
    time_data.append(datetime.utcnow())
    end = time.time()
    dataset.append([currentMouseX,currentMouseY])
    if ((end-start)>= 5):
        break
    time.sleep(0.01)
    '''

In [11]:
header = ['UTC','x_coord','y_coord','right_click', 'left_click']
with open('mouse_data.csv','w', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    for i in range(len(dataset)-1):
        writer.writerow([time_data[i],dataset[i][0],dataset[i][1],right_click_data[i],left_click_data[i]])

In [38]:
df = pd.read_csv('mouse_data.csv')
display(df)

                            UTC  x_coord  y_coord  right_click  left_click
0    2022-08-14 23:32:32.809602     2764     -726        False       False
1    2022-08-14 23:32:32.825559     2764     -726        False       False
2    2022-08-14 23:32:32.840546     2764     -726        False       False
3    2022-08-14 23:32:32.856478     2764     -726        False       False
4    2022-08-14 23:32:32.871469     2764     -726        False       False
..                          ...      ...      ...          ...         ...
320  2022-08-14 23:32:37.736860     1732      272        False       False
321  2022-08-14 23:32:37.751820     1732      272        False        True
322  2022-08-14 23:32:37.767784     1732      272        False        True
323  2022-08-14 23:32:37.782736     1732      272        False        True
324  2022-08-14 23:32:37.797698     1732      272        False        True

[325 rows x 5 columns]

In [32]:
def finish(start,end):
    if (end-start>=5):
        return True
    return False

### Lastest Version

In [38]:
dataset2 = []
time_data2 = []
click_data = []
scroll_data = []
from pynput.mouse import Listener
def on_move(x,y):
    dataset2.append([x,y])
    time_data2.append(datetime.utcnow())
    click_data.append('None')
    scroll_data.append('None')
    if finish(start,time.time()):
        listener.stop()
def on_click(x,y, button, pressed):
    if pressed:
        dataset2.append([x,y])
        time_data2.append(datetime.utcnow())
        click_data.append(button)
        scroll_data.append('None')
        if finish(start,time.time()):
            listener.stop()
def on_scroll(x,y,dx,dy):
    dataset2.append([x,y])
    time_data2.append(datetime.utcnow())
    click_data.append('None') 
    scroll_data.append([dx,dy])
    if finish(start,time.time()):
        listener.stop()
with Listener(on_move=on_move, on_click=on_click,on_scroll=on_scroll) as listener:
    start = time.time()
    listener.join()

### Generate the CSV

In [39]:
header = ['UTC','x_coord','y_coord','click','scroll']
with open('mouse_data.csv','w', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    for i in range(len(dataset2)-1):
        writer.writerow([time_data2[i],dataset2[i][0],dataset2[i][1],click_data[i],scroll_data[i]])

In [40]:
print(len(time_data2))
print(len(dataset2))
print(len(click_data))
print(len(scroll_data))

1457
1457
1457
1457

In [42]:
df2 = pd.read_csv("mouse_data.csv")
df2.style